node_modules/
dist/
build/
.env
.env.*
.dev.vars
/.wrangler/state/
.wrangler/state/
.wrangler/tmp/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.vscode/
.idea/
/.cache
coverage/
/.parcel-cache
/.cache-loader
*.local
*.log
coverage/
tmp/
/.DS_Store
/.history
/.next